<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sinatra x Kimono(Scraping Service) x Yahoo Restaurant</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/united/bootstrap.min.css" rel="stylesheet" integrity="sha256-mKuwI+x5TH/8YJ3N3ZHLGK0+IMRL4bZ1Me+2ylaxrwY= sha512-ltZkxhZ59a1sQYi1uob1y0iNgfeEoS8ouAdSyKMCLXDNcbNaSWM2vTpGOqmaVtri+qENaJ3YWANjGjjGX9ij8A==" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">


</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">東京の焼き鳥</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li><a href="../navbar-static-top/">Static top</a></li>
          <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <h2>渋谷・表参道・青山</h2>
    <div class="row">
        
<% 
  cnt = 0

# @shibuya_shops これだけ変更したら動く、共通化したい。
  for shop in @shibuya_shops do
  
  if cnt ===4 then
    break
  end
    
    #情報が少ない店舗は読み飛ばす。
  if shop["copy2"]  === "" then
      next
  end
  
  cnt +=1
  
%>
      
      <% # 同じコード、共通化したい %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= shop['image']['src'] %>" alt="<%= shop['image']['alt'] %>">
          <div class="caption">
            <h3><a href="<%= shop['shop_name']['href'] %>"><%= shop['shop_name']['text'] %></a></h3>
            <p><%= shop["copy1"] %><%= shop["copy2"] %><%= shop["copy3"] %></p>
            <p>カテゴリ：<%= shop["category"]  %> <%= shop["budget"] %></p>
            <p><a href="<%= shop['shop_name']['href'] %>" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>

      <% end %>

  </div>
  </div> <!-- /container -->

  <div class="container">
    <h2>新宿・代々木・大久保</h2>
    <div class="row">

      <% 
cnt = 0
for shop in @shinjuku_shops do

  if cnt ===4 then
    break
  end

    #情報が少ない店舗は読み飛ばす。
    if shop["copy2"]  === "" then
      next
    end

      cnt +=1

      %>


      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= shop['image']['src'] %>" alt="<%= shop['image']['alt'] %>">
          <div class="caption">
            <h3><a href="<%= shop['shop_name']['href'] %>"><%= shop['shop_name']['text'] %></a></h3>
            <p><%= shop["copy1"] %><%= shop["copy2"] %><%= shop["copy3"] %></p>
            <p>カテゴリ：<%= shop["category"]  %> <%= shop["budget"] %></p>
            <p><a href="<%= shop['shop_name']['href'] %>" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div> <!-- /container -->

  <div class="container">
    <h2>銀座・新橋・有楽町</h2>
    <div class="row">

      <% 
cnt = 0
for shop in @ginza_shops do

  if cnt ===4 then
    break
  end

    #情報が少ない店舗は読み飛ばす。
    if shop["copy2"]  === "" then
      next
    end

      cnt +=1

      %>


      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= shop['image']['src'] %>" alt="<%= shop['image']['alt'] %>">
          <div class="caption">
            <h3><a href="<%= shop['shop_name']['href'] %>"><%= shop['shop_name']['text'] %></a></h3>
            <p><%= shop["copy1"] %><%= shop["copy2"] %><%= shop["copy3"] %></p>
            <p>カテゴリ：<%= shop["category"]  %> <%= shop["budget"] %></p>
            <p><a href="<%= shop['shop_name']['href'] %>" class="btn btn-primary" role="button">詳細を見る</a></p>
          </div>
        </div>
      </div>

      <% end %>

    </div>
  </div> <!-- /container -->

</body>
</html>
